[submodule "exp_logger"]
	path = exp_logger
	url = git@github.com:DmitryUlyanov/exp_logger.git
[submodule "extensions_rawr"]
	path = extensions/rawr
	url = git@gitlab.com:rawr_io/recognition_rawr.git
[submodule "extensions/raws"]
	path = extensions/raws
	url = git@gitlab.com:rawr_io/recognition_rawr.git
